/***************************************** keywords modal css */
.modal-keywords {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  }
  
  .modal-content-keywords {
    overflow: auto;
    position: relative;
    background-color: #555;
    margin: 5% auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /***************************************** highlight modal css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    /* overflow: auto; Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Modal Header */
.modal-header {
    padding: 50px 50px;
    background-color: #FFCC00;
    font-size: 25px; /* Increase font size */
    text-align: center;
    color: white;
}

/* Style the input */
.modal-header .modal-input-text {
    float: left;
    margin: 0;
    border: none;
    border-radius: 0;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
}

/* Style the input */
.modal-header .modal-input-color {
    margin: 0;
    width: 10%;
    height: 42px;
    padding: 0px 0px 0px 0px;
}

/* Style the "Add" button */
.modal-header .addBtn {
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.modal-header .addBtn:hover {
    background-color: #bbb;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Remove margins and padding from the list */
.modal ul {
margin: 0;
padding: 0;
}

/* Style the list items */
.modal .li-highlight {
display: flex;
/* display: block; */
position: relative;
padding: 12px 8px 12px 10px;
list-style-type: none;
background: #eee;
font-size: 18px;
transition: 0.2s;
}

.modal .li-highlight .text{
width: 50%;
}

.modal .li-highlight .color{
width: 10%;
height: 50px;
padding: 0px 0px 0px 0px;
}

/* Set all odd list items to a different color (zebra-stripes) */
.modal .li-highlight:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.modal .li-highlight:hover {
    background: #ddd;
}

/* Style the list items */
.modal .li-legend {
    /* display: flex; */
    display: block;
    position: relative;
    padding: 12px 8px 12px 10px !important;
    list-style-type: none;
    background-color: #f9f9f9;
    font-size: 18px;
    transition: 0.2s;
    border: 1px solid #ddd;
}

.modal .li-legend:hover {
    background-color: #ddd;
}

.modal .li-legend label{
    color: #000;
    background-color: Transparent !important;
}



.modal ul li .left{
    float: left;
}

.modal ul li .right{
    float: right;
}

/* Style the close button */
.close-list {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close-list:hover {
    background-color: #f44336;
    color: white;
}